<div class="row justify-content-center">
  <div class="col-md-4 register-employee">
    <!-- form card register -->
    <div class="card-body">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="inputEmail3">Username</label>
          <input class="form-control" type="text" formControlName="username">
          <!-- error -->
          <div class="invalid-feedback" *ngIf="submitted && myForm.username.errors?.required">
            Username is required.
          </div>
        </div>

        <div class="form-group">
          <label for="inputVerify3">Password</label>
          <input class="form-control" type="password" formControlName="password">
          <!-- error -->
          <div class="invalid-feedback" *ngIf="submitted && myForm.password.errors?.required">
            Enter your password.
          </div>
        </div>

        <div class="form-group">
          <button class="btn btn-success btn-lg btn-block" type="submit">Login</button>
        </div>
      </form>
      <a class="btn btn-outline-primary" routerLinkActive="active" routerLink="/register">Register</a>
    </div>
  </div><!-- form card register -->
</div>
